@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');


/* overall css */
body{
    background: #181818;;
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding: 3rem 0rem 2rem 0rem;
}

p{
   color: white;
   font-family: 'Montserrat', sans-serif;
   overflow-wrap: break-word;
}

a, button{
 text-decoration: none;
 color:unset;
}


/* overall buttons css */


button.button-type {
    background-color: #252631;
    color: white;
    padding: 4px 12px 4px 12px;
    border: 1px solid white;
    border-radius: 4px;
    transition: transform 0.3s;
    max-width: 200px;
    margin: 12px;
}

button.button-type:hover {
    background-color: #383f4a;
    transition: transform 0.3s;
    transform: scale(1.03);
}

