@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');


body{
    background: #181818;;
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding: 3rem 0rem 2rem 0rem;
}

p{
   color: white;
   font-family: 'Montserrat', sans-serif;
}

a, button{
 text-decoration: none;
 color:unset;
}

.about-this-project-wrapper{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.git-link{
    color: white;
}

.git-link:hover{
    color: lightgray;
}

.search-projetc-wrapper, .card-link-wrapper, .filter-label{
    text-align: center;
    place-content: center;
    margin-bottom: 1rem;
}

.filter-btn-wrapper{
    place-content: center;
}



button.button-type {
    background-color: #252631;
    color: white;
    padding: 4px 12px 4px 12px;
    border: 1px solid white;
    border-radius: 4px;
    transition: transform 0.3s;
    max-width: 200px;
    margin: 12px;
}

button.button-type:hover {
    background-color: #383f4a;
    transition: transform 0.3s;
    transform: scale(1.03);
}

.about-this-project, .git-link, .git-link-wrapper{
    text-align: center;
    font-weight: 600;
    margin-bottom: 2rem;
}

svg.svg-inline--fa.fa-github {
    font-size: 40px;
    margin: 1rem;
}

.search-repo-input{
    height: 2rem;
    font-size: 12px;
    border-radius: 4px;
    text-align: center;
    color: #707070;
    width: 100%;
    max-width: 300px;
    background: rgb(43, 43, 43);
    color: white;
    border: 1px solid white;
    font-size: 16px;
    place-self: center;
}

.btn-wrapper{
    text-align-last: left;
}

.repo-card-wrapper{
    background:rgb(43, 43, 43);
    border-radius: 4px;
    padding: 2rem;
    margin: 1rem 1rem 1rem 1rem;
}



.button-type{
    background-color: #f5f5f5;
}



.repo-name-label,
.repo-language-label,
.repo-description-label{
    font-weight: 600;
    font-size: 16px;
}

.selected-btn{
    background: red !important;
}


.repo-description {
    height: 6rem;
}